<div id="scroll-to-top">
    <a href="#" class="scroll-to-top-button">
        <i class="fa fa-chevron-up">▲</i>
    </a>
</div>

<style>
    #scroll-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        user-select: none;
    }

    .scroll-to-top-button {
        display: none;
        width: 40px;
        height: 40px;
        background-color: #555;
        color: #fff;
        text-align: center;
        font-size: 24px;
        line-height: 40px;
        border-radius: 50%;
        user-select: none;
    }

    .scroll-to-top-button:hover {
        background-color: #333;
    }
</style>

<script>
    window.addEventListener("scroll", scrollFunction);

    function scrollFunction() {
        var scrollButton = document.getElementById("scroll-to-top");

        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            scrollButton.getElementsByClassName("scroll-to-top-button")[0].style.display = "block";
        } else {
            scrollButton.getElementsByClassName("scroll-to-top-button")[0].style.display = "none";
        }
    }

    document.querySelector(".scroll-to-top-button").addEventListener("click", function () {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    });
</script>