---
layout: default
---

{%- assign github_username=site.data.socials.github -%}

<link rel="stylesheet" href="/assets/post.css">
<link rel="stylesheet" href="/assets/sidebar.css">
<div class="sidebar" id="left_sidebar"></div>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{ page.author | escape }}</span></span>
      {%- endif -%}
    </p>
  </header>

  {% if page.project-link %}
  <div>
    Repository:<br>
    <a href="https://github.com/{{ github_username }}/{{ page.project-link }}"><img
        src="https://gh-card.dev/repos/{{ github_username }}/{{ page.project-link }}.svg"></a>
  </div>
  <br>
  {% endif %}
  <div class="sidebar" id="inline_sidebar"></div>

  <div id="content" class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  {% include scroll_to_top.html %}

  <div style="display: flex; justify-content: space-between; width: 100%;">
    {% if page.previous-post %}
    {% assign previous_post = site.posts | where: "title", page.previous-post | first %}
    <a style="max-width: 50%; text-align: left;" href="{{ previous_post.url | relative_url }}">← {{ previous_post.title
      }}</a>
    {% else %}
    <a style="max-width: 50%; text-align: left;" href="/">← Home</a>
    {% endif %}

    {% if page.next-post %}
    {% assign next_post = site.posts | where: "title", page.next-post | first %}
    <a style="max-width: 50%; text-align: right;" href="{{ next_post.url | relative_url }}">{{ next_post.title }} →</a>
    {% else %}
    <a style="max-width: 50%; text-align: right;" href="/">Home →</a>
    {% endif %}
  </div>

  <script src="https://giscus.app/client.js" data-repo="bane9/bane9.github.io" data-repo-id="R_kgDOJzR5Jg"
    data-category="General" data-category-id="DIC_kwDOJzR5Js4CXdBE" data-mapping="specific" data-term="{{ page.title }}"
    data-strict="0" data-reactions-enabled="1" data-emit-metadata="0" data-input-position="bottom" data-theme="dark"
    data-lang="en" crossorigin="anonymous" async>
    </script>

</article>

<script>
  var idx = 0;

  function populate_sidebar(sidebar_id, collapse = false) {
    const divElement = document.getElementById('content');
    const headingElements = divElement.querySelectorAll('h1, h2, h3, h4, h5, h6');
    const sidebarElement = document.getElementById(sidebar_id);

    if (headingElements.length === 0) {
      return;
    }

    const headingMap = {};

    var bullet_point = document.createElement('span');
    bullet_point.innerHTML = collapse ? "▶ Table of Contents:" : "▼ Table of Contents:";
    bullet_point.id = "root_bullet_point"
    const rootNode = document.createElement('ul');
    rootNode.appendChild(bullet_point);
    rootNode.className = "root_node";
    rootNode.id = "root_node_id";
    rootNode.innerHTML = "";

    bullet_point.addEventListener('click', (event) => {
      event.preventDefault();
      const children = rootNode.querySelectorAll('li');
      var bullet_point = rootNode.parentElement.querySelector('span');
      var hidden = false
      for (child of children) {

        if (child.style.display === 'none') {
          child.style.display = 'block';
          bullet_point.innerHTML = "▼ Table of Contents:";
        }
        else {
          child.style.display = 'none';
          bullet_point.innerHTML = "▶ Table of Contents:";
        }

      }
    });

    sidebarElement.appendChild(bullet_point);
    sidebarElement.appendChild(rootNode);

    for (const headingElement of headingElements) {
      var bullet_point = document.createElement('span');
      bullet_point.className = "bullet_point";
      bullet_point.innerHTML = "▶";

      var headingText = headingElement.innerText;
      if (headingElement.id.indexOf('heading-idx-') === -1) {
        headingElement.id = `heading-idx-${idx++}`;
      }
      var headingId;
      var headingLevel;
      var listItemElement;

      headingText = headingElement.innerText;
      if (headingElement.id.indexOf('heading-idx-') === -1) {
        headingElement.id = `heading-idx-${idx++}`;
      }
      headingId = headingElement.id;
      headingLevel = +headingElement.tagName.charAt(1);
      listItemElement = document.createElement('li');

      listItemElement.appendChild(bullet_point);

      const linkElement = document.createElement('a');
      linkElement.href = `#${headingId}`;
      linkElement.textContent = headingText;
      listItemElement.appendChild(linkElement);

      if (headingLevel === 1) {
        rootNode.appendChild(listItemElement);
      } else {
        const parentHeadingLevel = headingLevel - 1;
        const parentHeading = headingMap[parentHeadingLevel];

        if (parentHeading) {
          const parentListElement = parentHeading.querySelector('ul');
          if (parentListElement) {
            parentListElement.appendChild(listItemElement);
          } else {
            const newListElement = document.createElement('ul');
            newListElement.appendChild(listItemElement);
            parentHeading.appendChild(newListElement);
          }
        }
      }

      headingMap[headingLevel] = listItemElement;

      const parentLinkElement = listItemElement.parentNode.previousElementSibling;
      bullet_point.addEventListener('click', (event) => {
        event.preventDefault();
        const parentLinkElement = event.target;
        const parentListItemElement = parentLinkElement.parentNode;
        const childListElement = parentListItemElement.querySelector('ul');
        if (!childListElement) {
          return;
        }
        var bullet_point = parentListItemElement.querySelector('span');
        if (childListElement.style.display === 'none') {
          childListElement.style.display = 'block';
          bullet_point.innerHTML = "▼ ";
        }
        else {
          childListElement.style.display = 'none';
          bullet_point.innerHTML = "▶ ";
        }
      });
    }

    const listItemElements = sidebarElement.querySelectorAll('li');

    for (li of listItemElements) {
      if (li.querySelector('ul') === null) {
        li.querySelector('span').innerHTML = "▣ ";
      }
    }

    const headingOffsets = Array.from(headingElements);

    function highlightListItem() {
      const scrollPosition = window.scrollY - 10;
      let activeHeading = headingOffsets.find((elem) => {
        return (elem.offsetTop > scrollPosition) && (elem.offsetTop < (scrollPosition + 50));
      });

      if (!activeHeading) {
        if (scrollPosition < 10) {
          activeHeading = headingOffsets[0];
        } else if (scrollPosition > headingOffsets[headingOffsets.length - 1].offsetTop) {
          activeHeading = headingOffsets[headingOffsets.length - 1];
        } else {
          return;
        }
      }

      for (listItemElement of listItemElements) {
        const anchorElement = listItemElement.querySelector('a');
        const bulletPoint = listItemElement.querySelector('span');

        if (activeHeading && anchorElement.getAttribute('href') === `#${activeHeading.id}`) {
          bulletPoint.className = 'bullet_point_selected';
        } else {
          bulletPoint.className = 'bullet_point';
        }
      }
    }


    if (!collapse) {
      window.addEventListener('scroll', highlightListItem);
      window.scrollTo(0, 1);
    }

    if (collapse) {
      const children = rootNode.querySelectorAll('li');
      for (child of children) {
        child.style.display = 'none';
      }
    }
  }


  function add_scroll_listener() {
    const divElement = document.getElementById('content');
    const headingElements = divElement.querySelectorAll('h1, h2, h3, h4, h5, h6');

    if (headingElements.length === 0) {
      return;
    }

    window.addEventListener('scroll', function () {
      if (window.innerWidth < 1000) {
        return;
      }

      var sidebar = document.getElementById('left_sidebar');
      if (sidebar == null) {
        sidebar = document.getElementById('left_sidebar_fixed');
      }
      var sidebarTop = sidebar.offsetTop;
      var viewportTop = window.pageYOffset;

      if (viewportTop >= sidebarTop) {
        sidebar.id = 'left_sidebar_fixed';
      } else {
        sidebar.id = 'left_sidebar';
      }
    })
  }

  populate_sidebar("left_sidebar");
  populate_sidebar("inline_sidebar", true);

  add_scroll_listener();
</script>